<h2>Create a celebrity</h2>
<form action='/celebrities' method='post'>

  <label for='celebrity-name-input'>Celebrity Name</label>
  <input
    id='celebrity-name-input'
    type='text'
    name='name'
    placeholder='Celebrity Name'
  />

  <label for='celebrity-occupation-input'>Celebrity Occupation</label>
  <input
    id='celebrity-occupation-input'
    type='text'
    name='occupation'
    placeholder='Celebrity Occupation'
  />

  <label for='celebrity-catchphrase-input'>Celebrity Catchphrase</label>
  <input
    id='celebrity-catchphrase-input'
    type='text'
    name='catchPhrase'
    placeholder='Celebrity Catchphrase'
  />
  <button>Create Celebrity</button>
</form>