<h2>These are the celebrities</h2>

<ul>
  {{#each celebrities}}
    <li>
      <a href='/celebrities/{{_id}}'>{{name}}</a>
    </li>
  {{/each}}
</ul>
<a href='/celebrities/create'>Create new celebrity</a>